<div class="game" ng-controller="CreateGameCtrl" data-ng-init="init()">
    <form class="row well well-vsm">
        <div class="md6">
            <div class="form-group">
                <label for="player1"></label>
                <select class="form-control playerselect" id="player1" data-placeholder="Select a player" ng-model="player1" ng-change="update()">
                    <option></option>
                    <option ng-repeat="player in players track by $index" value="{{ ng('player.id') }}">{{ ng('player.name') }} - {{ ng('player.elo') }}</option>
                </select>
            </div>
            <button ng-show="showWinner" ng-click="addGame(1)" class="btn btn-block btn-success">Winner</button>
            <div ng-show="showWinner" class="winchance" player-stats player="stats.player1" winchance="stats.player1_win_chance" win="stats.player1_elo_win" lose="stats.player1_elo_lose"></div>
        </div>

        <div class="md6">
            <div class="form-group">
                <label for="player2"></label>
                <select class="form-control playerselect" id="player2" data-placeholder="Select a player" ng-model="player2" ng-change="update()">
                    <option></option>
                    <option ng-repeat="player in players track by $index" value="{{ ng('player.id') }}">{{ ng('player.name') }} - {{ ng('player.elo') }}</option>
                </select>
            </div>
            <button ng-show="showWinner" ng-click="addGame(2)" class="btn btn-block btn-success">Winner</button>
            <div ng-show="showWinner" class="winchance" player-stats player="stats.player2" winchance="stats.player2_win_chance" win="stats.player2_elo_win" lose="stats.player2_elo_lose"></div>
        </div>
    </form>

    <div games gameslist="stats.games" ng-show="stats.games.length > 0 && showWinner"></div>

</div>
