<div class="game" ng-controller="CreateGameCtrl" data-ng-init="init()">
    <form class="row well well-vsm">
        <div class="md5">
            <div class="form-group">
                <label for="player1"></label>
                <select class="form-control playerselect" id="player1" data-placeholder="Select a player" ng-model="player1" ng-change="update()">
                    <option></option>
                    <option ng-repeat="player in players track by $index" value="{{ ng('player.id') }}">{{ ng('player.name') }} - {{ ng('player.elo') }}</option>
                </select>
            </div>
            <button ng-show="showWinner" ng-click="addGame(1)" class="btn btn-block btn-success">Winner</button>
            <div ng-show="showWinner" class="winchance" player-stats player="stats.player1"></div>
        </div>

        <div class="md2 versus">
            <div>vs</div>
            <div ng-show="showWinner">
                <hr />
                <label><input type="radio" name="wintype" value="0" checked ng-model="wintype"> Normal</label>
                <label><input type="radio" name="wintype" value="1" ng-model="wintype"> Gammon</label>
                <label><input type="radio" name="wintype" value="2" ng-model="wintype"> Backgammon</label>
            </div>
        </div>

        <div class="md5">
            <div class="form-group">
                <label for="player2"></label>
                <select class="form-control playerselect" id="player2" data-placeholder="Select a player" ng-model="player2" ng-change="update()">
                    <option></option>
                    <option ng-repeat="player in players track by $index" value="{{ ng('player.id') }}">{{ ng('player.name') }} - {{ ng('player.elo') }}</option>
                </select>
            </div>
            <button ng-show="showWinner" ng-click="addGame(2)" class="btn btn-block btn-success">Winner</button>
            <div ng-show="showWinner" class="winchance" player-stats player="stats.player2"></div>
        </div>
    </form>

    <div games gameslist="stats.games" ng-show="stats.games.length > 0 && showWinner"></div>

</div>
