<div class="panel panel-default hidden-xs">
    <div class="panel-heading">Stats</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="(header, stat) in stats">
            <span ng-if="header.indexOf('[PLAYER]') > -1">
                {{ ng('header | cutheader') }}:
                <br />
                <span player-html name="{{ ng('stat.name') }}" elo="{{ ng('stat.elo') }}" bold="1"></span>
            </span>
            <span ng-if="header.indexOf('[PLAYER]') === -1">
                {{ ng('header | cutheader') }}: <b>{{ ng('stat') }}</b>
            </span>
        </li>
    </ul>
</div>